/*breadcrumb*/
.breadcrumb__container .breadcrumb {
  padding: 4rem 0 3rem;
  margin-bottom: 0;
}
.breadcrumb > li + li:before {
  color: #3d4558;
}
.breadcrumb .breadcrumb-item.active {
  color: #558bf3;
}
/*-------------------------------------*/

/*collection album*/
.collection__album {
  margin-bottom: 1.7rem;
}
.collection__album .album__container {
  margin-left: -1.65rem !important;
  margin-right: -1.65rem !important;
}
.collection__album .album__item {
  padding-left: 1.65rem;
  padding-right: 1.65rem;
  margin-bottom: 3.3rem;
}
.collection__album .item__choice {
  padding-top: 2.6rem;
  padding-bottom: 2.7rem;
  padding-left: 2rem;
  background: #ffffff;
  box-shadow: 5px 5px 30px #e0e2e5;
  border-radius: 2px;
  cursor: pointer;
}
.collection__album .album__add {
  padding-top: 2.6rem;
  padding-bottom: 2.7rem;
  padding-left: 2rem;
  border: 1px solid #558bf3;
  box-sizing: border-box;
  box-shadow: 5px 5px 30px #e0e2e5;
  border-radius: 2px;
  cursor: pointer;
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
}
.collection__album .album__add .add-btn {
  position: absolute;
  right: 2.2rem;
}
.collection__album .item__choice:hover {
  background: #558bf3;
  box-shadow: 5px 5px 30px #e0e2e5;
  border-radius: 2px;
}
.collection__album .item__choice:hover .title-1 {
  color: #ffffff;
}
/*-------------------------------------*/

.collection__name {
  margin-bottom: 3rem;
  padding-left: 1.65rem;
}