/*collection*/
.detail {
  display: flex;
  margin-bottom: 1.8rem;
}
.detail .avatar {
  margin-right: 1rem;
}
.detail .avatar img {
  width: 4rem;
  height: 4rem;
}
.detail .product-name .title-1 {
  color: #558bf3;
  margin-bottom: 7px;
}
.detail .product-name .bodytext {
  color: #c3c1c7;
}
.bodytext.facebook-post {
  margin-bottom: 1.1rem;
}
.bodytext.facebook-post p {
  margin-bottom: 0;
}
.bodytext.facebook-post p:last-child {
  padding-bottom: 1.1rem;
}
.bodytext.facebook-post a {
  color: #558bf3;
}
.product-badge {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.product-badge img {
  width: 2rem;
  height: 2rem;
  display: block;
  margin: 0 auto;
}
/*---------------------*/
/*interaction*/
.interaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.interaction__item {
  display: flex;
  align-items: center;
}
.like .title-2 {
  color: #558bf3;
  margin-left: 5px;
}
.item__sub {
  display: flex;
  align-items: center;
}
.item__sub.comment {
  margin-right: 1rem;
}
.item__sub .title-2 {
  color: #c3c1c7;
  margin-left: 5px;
}

/*----------------------------------------------*/

/*scrollbar for etsy*/
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #558bf3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #558bf3;
}
/*----------------------------------------------*/

/*modal facebook*/
.modal-facebook .modal--detail {
  padding-right: 0 !important;
}
.modal-facebook .modal--detail .modal--flex {
  width: 100%;
  display: flex;
  align-items: center;
}
.modal--detail .modal-content {
  background: #ffffff;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  border: none;
}
.modal--detail .modal-dialog {
  width: 94rem;
  max-width: 90%;
}
.modal--detail .modal-body {
  padding: 4rem;
  padding-bottom: 2.9rem;
  position: relative;
}
.modal--detail .modal-body .close-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}
.product {
  display: flex;
  align-items: stretch;
}
.product .product__detail {
  width: 58%;
  padding-right: 4rem;
}
.product .product__detail .detail {
  margin-bottom: 2rem;
}
.product .product__detail .interaction {
  justify-content: unset;
}
.product .product__detail .interaction__item {
  margin-right: 2rem;
}
.product .product__detail .bodytext.facebook-post {
  margin-bottom: unset;
}
.product .product__detail .bodytext.facebook-post p:last-child {
  padding-bottom: 1rem;
}
.product .product__detail .item__sub.comment {
  margin-right: 2rem;
}

.product .product__cover {
  width: 42%;
  height: 100%;
  border-radius: 2px;
  background-size: cover;
  background-position: center center;
}
.product .product__cover img {
  width: 100%;
}
.divider {
  margin-top: 3.5rem;
  margin-bottom: 1rem;
  width: 4rem;
  border: 0;
  border-top: 1px solid #e0e2e5;
  display: inline-block;
}
.information {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.information .my-btn {
  width: 12rem;
  background: #3d4558;
  color: #ffffff;
}
.section {
  margin-bottom: 9px;
}
.information__section .section:last-child {
  margin-bottom: 0;
}
.section .section__text {
  display: inline-block;
  width: 5.6rem;
  margin-right: 1rem;
}
.section .bodytext img {
  margin-right: 5px;
}
.section .bodytext a {
  color: #558bf3;
}
/*-----------------------------------------------*/

/*modal save*/
.modal__save {
  padding: 0 !important;
  /* display: flex;
  align-items: center; */
  background-color: rgba(61, 69, 88, 0.2);
}
.modal__save .modal--flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  pointer-events: none;
}
.modal__save .modal-dialog {
  width: 35rem;
  max-width: 80%;
}
.modal__save .modal-content {
  background: #ffffff;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  pointer-events: auto;
}
.modal__save .modal-body {
  padding: 2rem 3rem;
}
.modal__save .divider {
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}
.modal__save .album {
  margin-left: -3rem;
  margin-right: -3rem;
  height: 18.8rem;
  overflow-y: scroll;
  margin-bottom: 2.4rem;
}
.modal__save .album .album__choice {
  padding: 1.2rem 3rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.modal__save .album .album__choice .check {
  position: absolute;
  right: 3rem;
  display: none;
}
.modal__save .album .album__choice.active .title-1 {
  color: #558bf3;
}
.modal__save .album .album__choice.active .check {
  display: block;
}
.modal__save .album .album__choice .title-1 {
  color: #c3c1c7;
}
.modal__save .album .album__choice:hover {
  background: #f2f4f6;
  border-radius: 0px 0px 2px 2px;
}
.modal__save .album .album__choice:focus {
  background: #f2f4f6;
  border-radius: 0px 0px 2px 2px;
}
.modal__save .group-btn {
  display: flex;
  align-items: center;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
.modal__save .group-btn .btn__container {
  width: 50%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.modal__save .group-btn .my-btn {
  width: 100%;
}
.modal__save .group-btn .my-btn.new-album {
  background: #e0e2e5;
  border-radius: 2px;
  color: #c3c1c7;
}
.modal__save .group-btn .my-btn.done {
  background: #3d4558;
  border-radius: 2px;
  color: #f2f4f6;
}
/*------------------------------------------------*/
