/*collection*/
.item__wrapper .price {
  color: #558bf3;
}
.item__wrapper .product-name {
  color: #3d4558;
}
.item__wrapper .hashtag {
  margin-bottom: 2rem;
  color: #c3c1c7;
}
/*---------------------------------*/
/*interaction*/
.interaction {
  display: flex;
  align-items: center;
}
.interaction__item {
  display: flex;
  align-items: center;
  width: 33.333%;
}
.interaction__cart {
  justify-content: flex-start;
}
.interaction__heart {
  justify-content: center;
}
.interaction__follow {
  justify-content: flex-end;
}
.interaction__cart .title-2 {
  color: #ffbf43;
  margin-left: 5px;
}
.interaction__heart .title-2 {
  color: #ff8585;
  margin-left: 5px;
}
.interaction__follow .title-2 {
  color: #558bf3;
  margin-left: 5px;
}
/*---------------------------------------------*/

/*scrollbar for etsy*/
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eb6d20;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eb6d20;
}
/*----------------------------------------------*/

/*modal etsy*/
.modal-etsy .modal--detail {
  padding-right: 0 !important;
}
.modal-etsy .modal--detail .modal--flex {
  width: 100%;
  display: flex;
  align-items: center;
}
.modal--detail .modal-content {
  background: #ffffff;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  border: none;
}
.modal--detail .modal-dialog {
  width: 94rem;
  max-width: 90%;
}
.modal--detail .modal-body {
  padding: 4rem;
  padding-bottom: 2.9rem;
  position: relative;
}
.modal--detail .modal-body .close-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}
.product {
  display: flex;
  align-items: stretch;
}
.product .product__detail {
  width: 58%;
  padding-right: 4rem;
}
.product .product__detail .product-name {
  margin-bottom: 2rem;
}
.product .product__detail .interaction .interaction__item {
  width: unset;
  margin-right: 2rem;
}

.product .product__cover {
  width: 42%;
  height: 100%;
  border-radius: 2px;
  background-size: cover;
  background-position: center center;
}
.product .product__cover img {
  width: 100%;
}
.divider {
  margin-top: 3.5rem;
  margin-bottom: 1rem;
  width: 4rem;
  border: 0;
  border-top: 1px solid #e0e2e5;
  display: inline-block;
}
.information {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.information .my-btn {
  width: 12rem;
  background: #3d4558;
  color: #ffffff;
}
.section {
  margin-bottom: 9px;
}
.information__section .section:last-child {
  margin-bottom: 0;
}
.section .title-2 {
  display: inline-block;
  width: 9.2rem;
  margin-right: 7px;
}
.section .bodytext a {
  color: #558bf3;
}
/*-----------------------------------------------*/
