html,
body {
  font-family: "Lato", sans-serif;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #f8f8f8;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
a {
  color: unset;
  text-decoration: none;
}
a:hover {
  color: unset;
  text-decoration: none;
}
a:focus {
  color: unset;
  text-decoration: none;
}
label {
  margin-bottom: 0;
}
.title-1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  line-height: 23px;
  font-size: 16px;
  color: #3d4558;
}
.title-2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  color: #3d4558;
}
.bodytext {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
  color: #3d4558;
}

.my-btn {
  width: 12rem;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 11px;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: none;
}

.body-padding-left {
  padding-left: 6rem;
}
.body-padding-right {
  padding-right: 6rem;
}

/*header*/
.header {
  margin-left: 9rem;
  background-color: #ffffff;
}
.header__wrapper {
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e0e2e5;
}
.header__wrapper .form-group {
  margin-bottom: 0;
}
.search-filter {
  height: 3.6rem;
}
.search {
  display: inline-block;
  margin-right: 2rem;
}
.search .search__container {
  display: flex;
  align-items: center;
}
.search__container span {
  margin-right: 3rem;
}
.filter {
  display: inline-block;
}
.filter__item {
  /* display: flex;
  align-items: center; */
}

.header .filter__control {
  background: #ffffff;
  border: 1px solid #e0e2e5;
  box-sizing: border-box;
  border-radius: 2px;
  padding-top: 9px;
  padding-bottom: 11px;
  padding-left: 12px;
  height: 3.6rem;
  width: auto;
  outline: none;
}
.header .filter__control:focus {
  border-color: #558bf3;
  box-shadow: 3px 3px 10px #e0e2e5;
}
.header .filter__control::placeholder {
  color: #c3c1c7;
}
.header .filter__control::-moz-placeholder {
  color: #c3c1c7;
}
.header .filter__control::-webkit-input-placeholder {
  color: #c3c1c7;
}

.filter__item .filter__form {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.filter__item .filter__form .filter__control:hover {
  border-color: #558bf3;
}
.filter__item .filter__form .filter__control:focus {
  border-color: #558bf3;
}
.filter__item .filter__form .filter__control {
  padding-right: 4rem;
  color: #c3c1c7;
}
.filter__item .filter__form .dropdown {
  position: absolute;
  right: 1rem;
}

.user {
  padding-left: 4rem;
  position: relative;
  display: flex;
  align-items: center;
}
.user::before {
  content: "";
  height: 3rem;
  width: 1px;
  background-color: #e0e2e5;
  position: absolute;
  left: 0;
}
.user__container {
  display: flex;
  align-items: center;
}
.user__container .avatar {
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
}
.user__container .avatar img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
.filter__wrapper {
  position: relative;
  overflow: visible;
  margin-right: 2rem;
  transition: all 0.13s ease-out;
  display: inline-block;
}
.filter__wrapper:last-child {
  position: relative;
  overflow: visible;
  margin-right: 0;
}
.filter__wrapper .up {
  display: none;
}
.filter__wrapper .down {
  display: block;
}
.filter__wrapper.active .up {
  display: block;
}
.filter__wrapper.active .down {
  display: none;
}
.filter__wrapper.active .filter__control {
  color: #3d4558;
  border-color: #558bf3;
}
.filter__dropdown {
  display: none;
  width: 17.5rem;
  position: absolute;
  z-index: 10;
  top: 5.4rem;
  background: #ffffff;
  box-shadow: 5px 5px 30px #e0e2e5;
  border-radius: 0px 0px 2px 2px;
}
.filter__dropdown .filter__choice {
  padding: 1.2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.filter__dropdown .filter__choice .check {
  display: none;
}
.filter__dropdown .filter__choice:hover {
  background: #f2f4f6;
  border-radius: 0px 0px 2px 2px;
}
.filter__dropdown .filter__choice:focus {
  background: #f2f4f6;
  border-radius: 0px 0px 2px 2px;
}
.filter__dropdown .filter__choice .title-2 {
  cursor: pointer;
  color: #c3c1c7;
}
.filter__dropdown .filter__choice.active .title-2 {
  color: #558bf3;
}
.filter__dropdown .filter__choice.active .check {
  display: block;
}

/*-------------------------------------------*/

/*sidebar*/
.sidebar {
  position: fixed;
  width: 9rem;
  height: 100%;
  left: 0;
  top: 0;
  border-right: 1px solid #e0e2e5;
  background-color: #ffffff;
}
.menu {
  height: 7rem;
  width: 100%;
  border-bottom: 1px solid #e0e2e5;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu img {
  cursor: pointer;
}

.menu__item {
  margin-top: 3.7rem;
  margin-bottom: 4rem;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.menu__item.active:before {
  content: "";
  height: 100%;
  width: 3px;
  background-color: #c3c1c7;
  position: absolute;
  left: 0;
}
.menu__item .title-2 {
  color: #c3c1c7;
}
.icon .icon__item {
  margin: 0 auto;
}

.etsy-icon.active:before {
  content: "";
  height: 100%;
  width: 3px;
  background-color: #eb6d20;
  position: absolute;
  left: 0;
}
.facebook-icon.active:before {
  content: "";
  height: 100%;
  width: 3px;
  background-color: #4267b2;
  position: absolute;
  left: 0;
}

.etsy-icon .active {
  display: none;
}
.etsy-icon .inactive {
  display: block;
}
.etsy-icon.active .active {
  display: block;
}
.etsy-icon.active .title-2 {
  color: #eb6d20;
}
.etsy-icon.active .inactive {
  display: none;
}
.etsy-icon:hover .title-2 {
  color: #eb6d20;
}
.etsy-icon:hover:before {
  content: "";
  height: 100%;
  width: 3px;
  background-color: #eb6d20;
  position: absolute;
  left: 0;
}

.facebook-icon .active {
  display: none;
}
.facebook-icon .inactive {
  display: block;
}
.facebook-icon.active .active {
  display: block;
}
.facebook-icon.active .inactive {
  display: none;
}
.facebook-icon.active .title-2 {
  color: #4267b2;
}
.facebook-icon:hover .title-2 {
  color: #4267b2;
}
.facebook-icon:hover:before {
  content: "";
  height: 100%;
  width: 3px;
  background-color: #4267b2;
  position: absolute;
  left: 0;
}
/*--------------------------------------------*/

/*pagination*/
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination .my-btn {
  background: #e0e2e5;
  border-radius: 2px;
  width: 90px;
  cursor: pointer;
}
.pagination .my-btn:hover {
  box-shadow: 5px 5px 30px #e0e2e5;
}
.pagination .my-btn:focus {
  box-shadow: 5px 5px 30px #e0e2e5;
}
.pagination .page {
  margin-left: 3rem;
  margin-right: 3rem;
  text-align: center;
}
.pagination .page span {
  margin-right: 2rem;
  color: #c3c1c7;
  cursor: pointer;
}
.pagination .page span:hover {
  text-decoration: underline;
}
.pagination .page span:focus {
  text-decoration: underline;
}
.pagination .page span:last-child {
  margin-right: 0;
}
/*---------------------------------------------*/

/*collection*/
.collection {
  margin-left: 9rem;
}
.collection__wrapper .result {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.collection__wrapper .result .title-2 {
  color: #c3c1c7;
}
.collection__container {
  margin-left: -1.65rem !important;
  margin-right: -1.65rem !important;
  margin-bottom: 1.7rem;
}
.collection__container .collection__column {
  padding-left: 1.65rem;
  padding-right: 1.65rem;
  margin-bottom: 3.3rem;
}
.collection__item {
  background: #ffffff;
  box-shadow: 5px 5px 30px #e0e2e5;
  border-radius: 2px;
}
.collection__item .item__wrapper {
  padding: 2rem;
}
.item__wrapper .photo {
  border-radius: 2px;
  height: 12.5rem;
  background-size: cover;
  background-position: center center;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
}
.item__wrapper .photo .layer {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.13s ease-out;
}
.item__wrapper:hover .photo .layer {
  top: 0;
}
.item__wrapper:focus .photo .layer {
  top: 0;
}

.item__wrapper .photo .layer-color {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item__wrapper .photo .layer-color::before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #558bf3;
  opacity: 0.8;
}
.item__wrapper .photo .group-btn {
  position: relative;
  z-index: 10;
}
.item__wrapper .photo .my-btn.detail-btn {
  background: #f2f4f6;
  color: #3d4558;
  margin-bottom: 1rem;
}
.item__wrapper .photo .my-btn.view-btn {
  background: #3d4558;
  color: #ffffff;
}
/*----------------------------------------------*/
/*modal*/
.modal-etsy .modal,
.modal-facebook .modal {
  background-color: rgba(61, 69, 88, 0.2);
}
/*-----------------------------------------------*/
#lineChart {
  padding: 3rem;
  background: #f2f4f6;
  border-radius: 2px;
  color: #c3c1c7;
}

/*modal sign up*/
.modal__signup {
  background-color: rgba(85, 139, 243, 0.9) !important;
  padding: 0!important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__signup .modal-content {
  background: #ffffff;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
.modal__signup .modal-dialog {
  width: 35rem;
  max-width: 80%;
  position: relative;
  z-index: 999;
}
.modal__signup .modal-body {
  padding: 3rem;
}
.modal__signup .divider {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
.modal__signup .form__group {
  margin-bottom: 2rem;
}
.modal__signup .form__group .lb {
  font-style: normal;
  font-weight: normal;
  line-height: 17px;
  font-size: 12px;
  color: #c3c1c7;
  margin-bottom: 6px;
}
.modal__signup .form__group .form__control {
  background: #ffffff;
  border: 1px solid #e0e2e5;
  box-sizing: border-box;
  border-radius: 2px;
  padding-top: 1.1rem;
  padding-bottom: 1.3rem;
  padding-left: 1.2rem;
  width: 100%;
  outline: none;
}
.modal__signup .form__group .form__control:focus {
  border-color: #558bf3;
  box-shadow: 3px 3px 10px #e0e2e5;
}
.modal__signup .form__group .form__control::placeholder {
  color: #c3c1c7;
}
.modal__signup .form__group .form__control::-moz-placeholder {
  color: #c3c1c7;
}
.modal__signup .form__group .form__control::-webkit-input-placeholder {
  color: #c3c1c7;
}
.modal-divider {
  position: relative;
  z-index: 1;
  height: 20px;
  margin: 10px 0;
}
.modal-divider div {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 0;
  background: #c4c4c4;
  height: 1px;
  width: 100%;
  margin-top: 0;
}
.modal-divider span {
  position: relative;
  z-index: 10;
  background: #fff;
  width: 50px;
  padding: 0 10px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  color: #c3c1c7;
  display: block;
  margin: 0 auto 20px;
  text-align: center;
}
.modal__signup .my-btn.login-btn {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  text-align: center;
  color: #f2f4f6;

  background: #558bf3;
  border-radius: 2px;
  width: 100%;
}
.modal__signup .my-btn.login-google {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  text-align: center;
  color: #ffffff;

  background: #ff8585;
  border-radius: 2px;
  width: 100%;
}
/*------------------------------------------------*/
