@media screen and (max-width: 767px) {
  .modal-facebook .information {
    display: block;
  }
  .modal-facebook .information .information__section {
    margin-bottom: 1rem;
  }
  .collection__album .album__item {
    margin-bottom: 1.5rem;
  }
  .breadcrumb__container .breadcrumb {
    padding: 3rem 0;
  }
}