@media screen and (max-width: 1200px) {
  .collection__container .collection__column {
    width: 33.333%;
  }
}
@media screen and (max-width: 1100px) {
  .search-filter {
    height: unset;
  }
  .filter__item .filter__form .filter__control {
    padding-right: 3rem;
  }
  .search {
    margin-bottom: 2rem;
  }
  .collection__item .item__wrapper {
    padding: 1.5rem;
  }
}
@media screen and (max-width: 900px) {
  .filter__item .filter__form .filter__control {
    padding-right: 2.5rem;
  }
  .body-padding-right {
    padding-right: 4rem;
  }
  .body-padding-left {
    padding-left: 4rem;
  }
  .collection__container .collection__column {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .title-1 {
    line-height: 1.4375;
    font-size: 14px;
  }
  .title-2 {
    font-size: 12px;
  }
  .bodytext {
    line-height: 1.4375;
    font-size: 12px;
  }

  .body-padding-right {
    padding-right: 1.5rem;
  }
  .body-padding-left {
    padding-left: 1.5rem;
  }
  .search .search__container {
    display: block;
  }
  .search {
    margin-right: 0;
    width: 100%;
  }
  .filter {
    width: 100%;
  }
  .header__wrapper {
    display: block;
  }
  .filter__wrapper {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .header .search .filter__control {
    margin-top: 1rem;
    width: 100%;
  }
  .filter__item .filter__form .filter__control {
    padding-right: 4rem;
  }
  .filter__item {
    margin-bottom: -0.5rem;
  }
  .user {
    position: fixed;
    top: 1.7rem;
    right: 1.5rem;
    z-index: 999;
  }
  .user::before {
    display: none;
  }
  .sidebar {
    width: 7.5rem;
  }
  .header {
    margin-left: 7.5rem;
  }
  .collection {
    margin-left: 7.5rem;
  }
  .filter__dropdown {
    width: 14rem;
  }

  .pagination {
    display: block;
  }
  .pagination .page {
    margin-left: 0;
    margin-right: 0;
  }
  .pagination .page span {
    font-size: 1.1rem;
  }
  .pagination .my-btn {
    margin: 1rem auto;
  }
  .collection__container .collection__column {
    width: 100%;
  }

  .modal-etsy .modal .modal-dialog,
  .modal-facebook .modal .modal-dialog {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .modal--detail .modal-body {
    padding: 2rem!important;
  }
  .product {
    display: block;
  }
  .product .product__detail {
    width: 100%;
    padding-right: 0;
    overflow-x: scroll;
  }
  .product .product__cover {
    width: 100%;
    margin-top: 2rem;
  }
}
